
            


*{
    box-sizing: border-box;
    
}

body{
    background-color:white;
    padding: 10px;
    margin: 10%;
}
header div {
    width: 100%;
   

}

div h1 {
    width:30%;
  display: inline-block;
  margin-bottom: 0%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

div image{
    display: inline-block;
    left:0%;
    width: 30%;
    padding-top:150px;
    position: absolute;
}
 h5 {
    
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 10%;
    color: grey;
    padding-left: 0%;
    
}
.right {
    float: right;
    padding-top: 60px;
    width: 25%;
    margin-right: 0%; 
}
.left {
    float:left;
   position: relative;
    width: 50%;
    
}
.hrs{
    clear: both;
    background: url('chocolate pizza/hr-img.png') top center;
    
    display: block;
    height: 15px;
    border: 0;
    position: relative;
}


main h2{
    font-family: fantasy;
    font-weight:bolder ;
    font-size: 40px;
    margin-bottom: 0%;
}
.right2 {
    float: right;
    padding-top: 80px;
}
.left2{
    float: left;
    margin-top: 40px;
}
main div h6 {
    font-weight: lighter;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: grey;

}
#img {
    clear: both;
    min-width: 100%;
    padding:0px ;
    box-sizing: border-box;
}

article p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: rgb(48, 46, 46);
}
.list {
    clear: both;
    padding-top: 40px;
    width:100%;
   position: relative;
}
#im2{
    min-width: 100%;
    padding: 0%;
    display: inline-block;
    margin-bottom: 40px;
}

#list1{
    position: absolute;
    top: 20%;
    left: 20%;

    
}
#list2{
    position: absolute;
    right:25%;
    top:20%;
    
}
form fieldset label {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(56, 46, 19);
    font-weight: lighter;
    font-size: 20px;
    
}
form fieldset{
    border: none;
}
.float1 {
    float:left;
   padding:0px;
   margin-top: 0px;
    width: 50%;
    height: auto;
}
.float2{
    float: right;
    padding-top: 60px;
    min-width: 10%;
    right: 0%;
    padding-right: 0px;
    margin-right: 0px;
    
}
.design {
    display: inline-block;
    width: 20%;
    padding-top: 40px;
}
main div h4{
    
    width: 30%;
    margin-top: 0%;
    margin-bottom: 10px;
    display: inline-block;
    padding-bottom: 0%;
    
}
main div p{
    margin:0%;
    padding-left: 100px;
    padding-top: 0px;
    
}
button{
   padding:20px;
    background-color: indianred;
    color: ivory;
    
    
}

footer{
    clear: both;
    margin-top: 20%;
    overflow-x: scroll;
}
footer p {
    color: grey;
    text-align: center;
}


